@import "variables.scss";
@import "mixins.scss";

.details {
    background-color: $background;
    font-size: $myfont;
    $mycolor: green;
    color: $mycolor;
    @include important-content;
}

.container-header {
    background-color: $background;
    font-size: $myfont;
    color: $mycolor;
    @include important-content(35px);
}

.button-base {
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.button-base {
    background-color: $background;
    @extend .button-base;
}

nav {
    ul {
        li {
            a {
                font-size: 30px;
            }
        }
    }
}